@font-face {
  font-family: "iconfont"; /* Project id 3867927 */
  src: url('iconfont.woff2?t=1674145402671') format('woff2'),
       url('iconfont.woff?t=1674145402671') format('woff'),
       url('iconfont.ttf?t=1674145402671') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei:before {
  content: "\e6aa";
}

.icon-gouwuche2:before {
  content: "\e6ab";
}

.icon-wode:before {
  content: "\e6b1";
}

.icon-fenlei1:before {
  content: "\e6bd";
}

.icon-gouwuche3:before {
  content: "\e6bf";
}

.icon-wode1:before {
  content: "\e6c5";
}

.icon-shouye3:before {
  content: "\e6b9";
}

.icon-shouye:before {
  content: "\e6c3";
}

