@font-face {
	font-family: "iconfont"; 
	src: url('/static/iconfont.ttf') format('truetype');
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weizhifu:before {
  content: "\e600";
}

.icon-peisongzhong:before {
  content: "\e601";
}

.icon-yitongguo:before {
  content: "\e602";
}

.icon-daifahuo:before {
  content: "\e603";
}

.icon-yiwancheng:before {
  content: "\e604";
}

.icon-yiquxiao1:before {
  content: "\e605";
}

.icon-weitongguo:before {
  content: "\e606";
}

.icon-shenhezhong:before {
  content: "\e607";
}

.icon-yiquxiao:before {
  content: "\e72b";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-gouwuche:before {
  content: "\e899";
}

.icon-dingdandaifukuan:before {
  content: "\e896";
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-bujifapiao:before {
  content: "\e8c9";
}

